@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #fff;
  color: #3c3a4a;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  animation: scroll-right 80s linear infinite;
}

@keyframes brand-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.brand-marquee {
  animation: brand-marquee 20s linear infinite;
}


button:disabled {
  cursor: default;
  opacity: 0.5;
}

/*Modal fix*/
.ReactModal__Content:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}